# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.WraithNath.ShutdownTimer.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\git\ShutdownTimer\src\WraithNath.ShutdownTimer\.idea\.idea.WraithNath.ShutdownTimer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
